@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header{
   background-color:rgb(3, 24, 51);
   width: 100%;
   position: fixed;
   z-index: 999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 30px;
}

.headlogo {
    width: 4em;
    height: 4em;
}

.logo {
   text-decoration: none;
   color:rgb(52, 38, 252) ;
   /* text-transform: uppercase; */
   font-weight: 700;
   font-size: 1.8em;
}

.navigation a{
   color:rgb(44, 90, 216);
   text-decoration: none;
   font-size: 1.1em;
   font-weight: 500;
   padding-left: 20px;
}

.navigation a:hover{
   color:rgb(141, 26, 218);
}

section{
   padding: 100px 80px;
}

.main{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background: url(images/background14.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.main h2{
   color:rgb(52, 38, 252);
   /* background-color: black; */
   font-size: 1.4em;
   font-weight: 500;
}

.main h2 span{
   display: inline-block;
   color:rgb(52, 38, 252);
   font-size: 3em;
   font-weight: 600;
}

.main h3{
   color: rgb(52, 38, 252);
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 1px;
   margin-top: 10px;
   margin-bottom: 30px;
}

.main-btn{
   color: aliceblue;
   background-color: black;
   text-decoration: none;
   font-size: 1.1em;
   font-weight: 600;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   letter-spacing: 1px;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: 0.7s ease;
  }
  
  .main-btn:hover {
   background-color: darkblue;
   transform: scale(1.1);
}

.social-icons a{
   color: #fff;
   font-size: 1.7em;
   padding-right: 30px;
  }

  .title {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .cards {
    background-image: url(images/background2.jpg);
    background-size: cover;
} */

.card {
    background-color: #fff;
    /* background-image: url(images/background12.jpg); */
    width: 15em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

/* .imagecard {
    size: contain;
} */

.imageicon {
    width: 8em;
    justify-content: center;
}

.info h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.projects {
    background-color:black;
}

.projects .title {
    -webkit-text-fill-color: #fff;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;  
}

.more-details:hover {
    color: blueviolet;
}

.cardscontact .icon {
   font-size: 4em;
   color: blue;
   text-align: center;
}

.cardscontact .info {
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.cardscontact p {
    font-size: 0.6em;
    font-weight: 500;
    color: black;
    text-align: center;
}

.footer {
    background-color: black;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer p {
    font-size: 1.3em;
    font-weight: 600;
    /* color: blue; */
}

/* .footer span {
    color: blue;
} */

@media (max-width:1023px){

    section {
        padding: 100px 20px;
    }

    header {
        padding: 15px 15px;
    }

    .navigation a {
        padding-left: 10px;
        font-size: 1.2em;
        padding: 1px;
    }

    .logo {
        font-weight: 700;
        font-size: 1em;
    }

    .title {
        font-size: 1.8em;
    } 
}

/* @media (max-width:380){
    section {
        padding: 1px 1px;
    }

    header {
        padding: 1px 1px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .logo {
        font-weight: 700;
        font-size: 1em;
    }

    .title {
        font-size: 1.8em;
    } 
} */