/* -1-  */

.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
.title {
    color: green;
}


/* -2- */

.one,
.two,
.three,
.four {
    color: white;
    background-color: brown;
    width: fit-content;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    max-height: 50px;
    overflow: hidden;
}