/* 1 */

.parent {
    width: 800px;
    /* width: 1000px; */
    background-color: #eee;
    overflow: hidden;
}

.third,
.half,
.fourth,
.fullwidth {
    background-color: #d9d9d9;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
    text-align: center;
    font-weight: bold;
}

/* .parent div {
    background-color: #d9d9d9;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 20px;
} */

.fullwidth {
    float: none;
    margin-top: 15px;
    margin-right: 15px;
}

/* .fullwidth {
    margin-top: 15px;
    float: left;
    width: calc( 100% - 70px );
} */

.third {
    width: calc((100%  - 180px) / 3);
}

.half {
    width: calc((100% - 125px)/2);
}

.fourth {
    width: calc((100% - 235px)/4);
}

/* .clear {
    clear: both;
} */


/* 2 */

.normal,
.one,
.two {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: rgb(217, 217, 217); /* Get The Background From Image */
    color: black;
  }

  .one {
    background-color: rgb(217, 217, 217,0.1);
  }

  .two {
    opacity: 0.1;
  }

